/*NAVBAR*/

ul{
    background-color:#08212e;
    overflow: hidden;
    list-style-type: none;
    /*pa q no haya margenes*/
    margin: 0;
    padding: 0;
    /*nabigazio barraren posizioa goialdean mantentzeko*/
    position: fixed;
    top: 0;
    width: 100%;
}


li{
    float: left;	
}

li a {
    color: white;
    display: block;
    padding: 14px 16px;
    text-decoration: none; /*azpimarrak kentzeko*/
}


/*Sagua gainetik pasatzerakoan, colorea aldatzeko*/
li a:hover{
    /*background-color: #89a9b9*/
    background-color: #124a68
}

/*#################################################################*/

/*MAIN DIV*/
.main {
    padding: 12px;
    margin-top: 30px;
    background-color: #89a9b9;
}
